@model ZavenDotNetInterview.App.ViewModels.Jobs.DetailsViewModel
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">Details Job</h2>
        </div>
        <div class="col-4 bg-info">
            <p>@Html.DisplayName("Name :") @Model.Name</p>
            <p>@Html.DisplayName("Status :") @Model.Status</p>
            <p>@Html.DisplayName("Processing Date :") @Model.ProcessingDate</p>
            <p>@Html.DisplayName("Failure Counter :") @Model.FailureCounter</p>
            <p>@Html.DisplayName("Creation Date :") @Model.CreationDate</p>
            <p>@Html.DisplayName("Id Job :") @Model.Id</p>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Description")
                </th>
                <th>
                    @Html.DisplayName("Creation Date")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Logs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => obj.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(x => obj.CreatedAt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info" })
</div>

